<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="方科新" />
    <title>商户</title>
    <link rel="stylesheet" th:href="@{assets/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{assets/css/index.css}" />
    <script type="text/javascript" th:src="@{assets/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/tpWeather.js}"></script>
</head>

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#groupTable',
            url:'sysgroup/GetGroupAll',
            cellMinWidth: 80,//全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols: [
                [
                    {
                        field:'groupId',
                        width:150,
                        title: 'ID'
                    },
                    {
                        width:150,
                        title: '机构名称',
                        templet: function (d){
                            return "<a href='commodityHome?groupId="+d.groupId+"'>"+d.groupName+"</a>"
                        }
                    },
                    {
                        field:'groupDesc',
                        width:150,
                        title: '机构介绍'
                    },
                    {
                        field:'groupAddressDetails',
                        title: '地址',
                        width: '30%',
                        Width: 150
                    }, //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    {
                        width:250,
                        title: '操作',
                        toolbar:'#barDemo'
                    }
                ]
            ]
        });

        //监听表格排序问题
        table.on('sort(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            console.log(obj.field); //当前排序的字段名
            console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
            console.log(this); //当前排序的 th 对象

            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('groupTable', { //testTable是表格容器id
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.groupId //排序字段
                    ,order: obj.type //排序方式
                }
            });
        });

        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if(layEvent === 'detail'){ //查看
                json = JSON.stringify(data);
                layui.use('layer', function () {
                    layer.open({
                        title: '数据详情',
                        maxmin: true,
                        type: 2,
                        content: '/groupview',
                        area: ['1100px', '500px'],

                    });
                });
            } else if(layEvent === 'del'){ //删除
                $.ajax({
                    url:"sysgroup/DelGroup",
                    data:{
                        groupId:data.groupId
                    },
                    success:function (data) {
                        if (data) {
                            window.location.reload()
                        }
                    }
                })
            } else if(layEvent === 'edit'){ //编辑
                json = JSON.stringify(data);
                layui.use('layer', function () {
                    layer.open({
                        title: '数据详情',
                        maxmin: true,
                        type: 2,
                        content: '/groupUpdate',
                        area: ['600px', '800px'],

                    });
                });
            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });
    });

</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<body>

<table class="layui-hide" id="groupTable" lay-filter="test"></table>

</body>
</html>