<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3beichen@localhost.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AoyoCouponNewMapper">
    <select id="queryAoyoCouponNewList" resultMap="queryAoyoCouponNewList">
        select acn.*,sg.GROUP_NAME from aoyo_coupon_new acn
        left join sys_group sg on acn.group_id = sg.GROUP_ID
        <where>
            acn.delete_flag=1
            <if test="groupName!=null and groupName!=''">
                and sg.group_name like concat('%',#{groupName},'%')
            </if>
            <if test="couponNewName!=null and couponNewName!=''">
                and acn.coupon_new_name like concat('%',#{couponNewName},'%')
            </if>
            <if test="couponNewStatus!=null and couponNewStatus!=''">
                and acn.coupon_new_status =#{couponNewStatus}
            </if>
            <if test="couponNewSill!=null and couponNewSill!=''">
                and acn.coupon_new_sill =#{couponNewSill}
            </if>
            <if test="couponNewTypeId!=null and couponNewTypeId!=''">
                and acn.coupon_new_type_id =#{couponNewTypeId}
            </if>
            <if test="couponNewStartTime!=null">
                and acn.coupon_new_start_time &gt;= #{couponNewStartTime}
            </if>
            <if test="couponNewEndTime!=null">
                and acn.coupon_new_end_time &lt;= #{couponNewEndTime}
            </if>
            <if test="couponNewCreateTime!=null and couponNewOver!=null">
                and acn.coupon_new_create_time BETWEEN #{couponNewCreateTime} and #{couponNewOver}
            </if>
        </where>
    </select>
    <resultMap id="queryAoyoCouponNewList" autoMapping="true" type="com.example.demo.pojo.AoyoCouponNew">
        <id column="coupon_new_id" property="couponNewId"></id>
        <association property="sysGroup" autoMapping="true" javaType="com.example.demo.pojo.SysGroup">
            <id column="group_id" property="groupId"></id>
        </association>
    </resultMap>
    <insert id="addAoyoCouponNew" useGeneratedKeys="true" parameterType="com.example.demo.pojo.AoyoCouponNew">
        insert into aoyo_coupon_new
        (coupon_new_name,coupon_new_count,coupon_new_type_id,coupon_new_type_atribute
        ,coupon_new_rebate_max,coupon_new_sill,coupon_new_sill_num,coupon_new_desc
        ,coupon_new_status,coupon_new_status_atribute,group_id,coupon_new_limit
        ,coupon_new_start_time,coupon_new_end_time,coupon_new_create_time)
        values (
        #{couponNewName},#{couponNewCount},#{couponNewTypeId},#{couponNewTypeAtribute}
        ,#{couponNewRebateMax},#{couponNewSill},#{couponNewSillNum},#{couponNewDesc}
        ,2,#{couponNewStatusAtribute},#{groupId},#{couponNewLimit}
        ,#{couponNewStartTime},#{couponNewEndTime},now()
        );
    </insert>
    <update id="uptformContent" parameterType="com.example.demo.pojo.AoyoCouponNew">
        update aoyo_coupon_new set
        coupon_new_name = #{couponNewName},coupon_new_count = #{couponNewCount}
        ,coupon_new_type_id = #{couponNewTypeId},coupon_new_type_atribute =#{couponNewTypeAtribute}
        ,coupon_new_rebate_max=#{couponNewRebateMax},coupon_new_sill=#{couponNewSill}
        ,coupon_new_sill_num=#{couponNewSillNum},coupon_new_desc=#{couponNewDesc}
        ,coupon_new_status_atribute = #{couponNewStatusAtribute},coupon_new_limit = #{couponNewLimit}
        ,coupon_new_start_time = #{couponNewStartTime},coupon_new_end_time=#{couponNewEndTime}
        where coupon_new_id=#{couponNewId}
    </update>
    <update id="upDeleteCoupons">
        <foreach item="id" index="index" separator=";" collection="array">
        update aoyo_coupon_new set delete_flag=0  where coupon_new_id =#{id}
        </foreach>
    </update>
    <select id="queryCouponNewList" resultType="com.example.demo.pojo.AoyoCouponNew">
        select acn.coupon_new_id,acn.coupon_new_start_time,acn.coupon_new_end_time
        ,acn.coupon_new_status from aoyo_coupon_new acn
    </select>
    <!--定时器修改优惠券状态-->
    <update id="updCouponNewStatus">
        UPDATE aoyo_coupon_new
        SET coupon_new_status = #{couponNewStatus}
        WHERE
        state = #{whereState}
        <if test="endTime != null">
            and date_format(end_time,'%Y-%m-%d %H:%i') <![CDATA[<]]> date_format(#{endTime}, '%Y-%m-%d %H:%i')
        </if>
        <if test="startTime != null">
            and date_format(start_time,'%Y-%m-%d %H:%i') <![CDATA[<=]]> date_format(#{startTime}, '%Y-%m-%d %H:%i')
        </if>
    </update>
</mapper>