<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3beichen@localhost.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AoyoGroupUderMapper">
    <select id="useralls" resultType="com.example.demo.pojo.AoyoGroupUser">
        SELECT * FROM aoyo_group_user
    </select>
</mapper>